/*body {
	padding-bottom: 34px;
}*/

.fee-reset {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 14px;
}

.fee-reset a,
.fee-reset a:link,
.fee-reset a:hover,
.fee-reset a:active,
.fee-reset a:visited {
	text-decoration: none;
	border: none;
}

#fee-main-bar {
	z-index: 99999;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 34px;
	background-color: #222 /*rgba(0, 0, 0, .75)*/;
}
#fee-main-bar ol,
#fee-main-bar ul {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 10px;
} 
#fee-main-bar .fee-item {
	height: 24px;
	line-height: 24px;
	color: #ccc;
	float: left;
	margin: 5px 0 5px 20px;
	position: relative;
}
#fee-main-bar .fee-item a {
	color: #ccc;
}
#fee-main-bar .fee-item > a {
	display: block;
	height: 24px;
}
#fee-main-bar .fee-item a:hover,
#fee-main-bar .fee-item a.hover {
	text-decoration: none;
	color: #1e8cbe;
}
#fee-main-bar .button {
	height: 24px;
	line-height: 24px;
}
#fee-main-bar #fee-save {
	float: right;
	margin: 5px 20px;
}
#fee-main-bar .has-dashicon:before {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 22px/1 'genericons';
	vertical-align: top;
	height: 24px;
	line-height: 24px;
	padding-right: 5px;
}
#fee-main-bar .has-dashicon2:before {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 13px/1 'dashicons';
	vertical-align: top;
	padding-right: 5px;
	height: 13px;
	line-height: 24px;
}
#fee-cats div:before {
	content: '\f301';
}
#fee-main-bar #fee-tags div:before {
	content: '\f302';
	line-height: 23px;
	height: 23px;
}
#fee-main-bar #fee-media div:before {
	font: normal 18px/1 'dashicons';
	height: 24px;
	line-height: 24px;
	content: '\f104';
}
#fee-main-bar #fee-link div:before {
	font: normal 18px/1 'dashicons';
	height: 18px;
	line-height: 24px;
	content: '\f103';
}
#fee-options:before {
	content: '\f445';
	padding-right: 0!important;
}
.fee-tag.has-dashicon2:before {
	content: '\f153';
}
.fee-tag {
	font-size: 13px;
	white-space: nowrap;
}
.selectit {
	white-space: nowrap;
	cursor: pointer;
}
.fee-tag:hover {
	color: #1e8cbe;
	cursor: pointer;
}
#fee-cats-pop-up {
	padding: 10px 10px 10px 0;
	background-color: #222;
	position: absolute;
	bottom: 40px;
	border-radius: 2px;
	min-width: 180px;
	left: -7px;
	font-size: 13px;
}
#fee-tags-pop-up {
	padding: 10px;
	background-color: #222;
	position: absolute;
	bottom: 40px;
	border-radius: 2px;
	min-width: 120px;
	left: -7px;
}
#fee-main-bar #fee-options {
	float: right;
	margin: 5px 0;
}
#input-tags,
#input-cats {
	padding: 0;
	margin: 0;
	border: none;
	background: transparent;
	color: #fff;
	font-size: 13px;
	height: 22px;
	line-height: 22px;
	max-width: 140px;
}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #222;
	position: absolute;
	bottom: -8px;
	left: 10px;
}

#fee-saving,
#fee-success,
#fee-error {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100000;
}
.fee-element {
	display: none;
}
.fee-active {
	display: block;
}
#fee-saving {
	background: rgba(0, 0, 0, 0.85) url('../img/hour.svg') no-repeat center;
	background-size: 50px 50px!important;
}
#fee-success {
	background: rgba(0, 0, 0, 0.85) url('../img/check.svg') no-repeat center;
	background-size: 50px 50px!important;
}
#fee-error {
	background: rgba(0, 0, 0, 0.85) url('../img/cross.svg') no-repeat center;
	background-size: 50px 50px!important;
}
#fee-message {
	position: fixed;
	bottom: 10%;
	left: 50%;
	width: 400px;
	margin-left: -200px;
	text-align: center;
	color: #fff;
}
#fee-continue {
	margin-right: 20px;
}

#fee-mce-toolbar {
	position: fixed;
	top: 54px;
	left: 20px;
	z-index: 100000;
	padding: 5px;
	background: #222;
	border-radius: 2px;
	cursor: move;
}

:focus,
.contenteditable img {
	outline: none!important;
}

.mce-widget.mce-tooltip {
    display: none !important;
}
.mce-btn {
	float: left;
}
.mce-btn-group {
	margin: 0;
	width: 100%;
}

#fee-mce-toolbar button {
	border-radius: 0!important;
	background: none!important;
	box-shadow: none!important;
	border: none!important;
}

#insert-media-button {
	display: none;
}

.fee-edit-thumbnail {
	position: relative;
}
.fee-edit-thumbnail-button {
	position: absolute;
	bottom: 10px;
	left: 10px;
	height: 34px;
	width: 34px;
	border-radius: 2px;
	background-color: #222;
	display: none;
	cursor: pointer;
}
#fee-edit-thumbnail-icon:before {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 22px/1 'genericons';
	vertical-align: top;
	height: 24px;
	line-height: 24px;
	padding: 5px 7px;
	width: 20px;
	content: '\f411';
	color: #ccc;
}

input[type="checkbox"],
input[type="radio"] {
	border-width: 0;
	border-style: solid;
	clear: none;
	cursor: pointer;
	display: inline-block;
	line-height: 0;
	height: 16px;
	margin: -4px 4px 0 0;
	outline: 0;
	padding: 0 !important;
	text-align: center;
	vertical-align: middle;
	width: 16px;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="checkbox"] {
	border-radius: 0;
}

input[type=radio] {
	border-radius: 50%;
	margin-right: 4px;
	line-height: 10px;
}

input[type=checkbox]:checked:before {
	content: '\f147';
	display: inline-block;
	float: left;
	font: normal 21px/1 'dashicons';
	speak: none;
	vertical-align: middle;
	margin: -3px 0 0 -4px;
	-webkit-font-smoothing: antialiased;
}

input[type=radio]:checked:before {
	content: '\2022';
	text-indent: -9999px;
	border-radius: 50px;
	display: inline-block;
	float: left;
	font-size: 24px;
	vertical-align: middle;
	width: 6px;
	height: 6px;
	margin: 4px;
	line-height: 16px;
}

@-moz-document url-prefix() {
	input[type=checkbox],
	input[type=radio],
	.form-table input.tog {
		margin-bottom: -1px;
	}
}

input[type="checkbox"]:checked::before {
	color: #1e8cbe;
}

::-webkit-input-placeholder {
	color: #ccc;
	font-style: italic;
}

:-moz-placeholder {
	color: #ccc;
	font-style: italic;
}

::-moz-placeholder {
	color: #ccc;
	font-style: italic;
}

:-ms-input-placeholder {
	color: #ccc;
	font-style: italic;
}

.mce-last mce-abs-layout-item {
	position: relative!important;
}

@media (max-width: 600px) {
	#fee-mce-toolbar {
		top: 0!important;
		left: 0!important;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.mce-tinymce,
	.mce-abs-layout,
	.mce-abs-layout-item,
	.mce-stack-layout,
	.mce-toolbar,
	.mce-flow-layout {
		width: 100%!important;
	}
}