br.fee-title,
.fee-on .fee-link-pages {
	display: none;
}

.fee-on #wp-admin-bar-edit a {
	background: #32373c;
	color: #00b9eb;
}

.fee-on #wp-admin-bar-edit a:before {
	color: #00b9eb;
}

.fee-on .fee-thumbnail,
.fee-on .mce-content-body,
.fee-on .mce-content-body *[data-mce-selected] {
	outline: 1px dashed #000;
}

.fee-on.fee-edit-focus .mce-content-body {
	outline: none;
}

.mce-content-body p {
	min-height: 1em;
}

.mce-content-body[data-placeholder][data-empty]:after {
	opacity: 0.5;
	content: attr( data-placeholder );
	display: block;
	position: absolute;
	top: 0;
}

.mce-content-body[data-placeholder][data-empty]:focus:before {
	content: '';
}

div.mce-inline-toolbar-grp {
	background-color: #f5f5f5;
	border: 1px solid #a0a5aa;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.15 );
	box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.15 );
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 8px;
	position: absolute;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	max-width: 98%;
	z-index: 99998; /* Under adminbar */
}

div.mce-inline-toolbar-grp > div.mce-stack-layout {
	padding: 1px;
}

div.mce-inline-toolbar-grp.mce-arrow-up {
	margin-bottom: 0;
	margin-top: 8px;
}

div.mce-inline-toolbar-grp:before,
div.mce-inline-toolbar-grp:after {
	position: absolute;
	left: 50%;
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	content: '';
}

div.mce-inline-toolbar-grp.mce-arrow-up:before {
	top: -9px;
	border-bottom-color: #a0a5aa;
	border-width: 0 9px 9px;
	margin-left: -9px;
}

div.mce-inline-toolbar-grp.mce-arrow-down:before {
	bottom: -9px;
	border-top-color: #a0a5aa;
	border-width: 9px 9px 0;
	margin-left: -9px;
}

div.mce-inline-toolbar-grp.mce-arrow-up:after {
	top: -8px;
	border-bottom-color: #f5f5f5;
	border-width: 0 8px 8px;
	margin-left: -8px;
}

div.mce-inline-toolbar-grp.mce-arrow-down:after {
	bottom: -8px;
	border-top-color: #f5f5f5;
	border-width: 8px 8px 0;
	margin-left: -8px;
}

div.mce-inline-toolbar-grp.mce-arrow-left:before,
div.mce-inline-toolbar-grp.mce-arrow-left:after {
	margin: 0;
}

div.mce-inline-toolbar-grp.mce-arrow-left:before {
	left: 20px;
}
div.mce-inline-toolbar-grp.mce-arrow-left:after {
	left: 21px;
}

div.mce-inline-toolbar-grp.mce-arrow-right:before,
div.mce-inline-toolbar-grp.mce-arrow-right:after {
	left: auto;
	margin: 0;
}

div.mce-inline-toolbar-grp.mce-arrow-right:before {
	right: 20px;
}

div.mce-inline-toolbar-grp.mce-arrow-right:after {
	right: 21px;
}

div.mce-inline-toolbar-grp.mce-arrow-full {
	right: 0;
}

div.mce-inline-toolbar-grp.mce-arrow-full > div {
	width: 100%;
	overflow-x: auto;
}

div.mce-inline-toolbar-grp.mce-arrow-left-side:before,
div.mce-inline-toolbar-grp.mce-arrow-left-side:after {
	left: auto;
	top: 50%;
}

div.mce-inline-toolbar-grp.mce-arrow-left-side:before {
	left: -9px;
	border-right-color: #a0a5aa;
	border-width: 9px 9px 9px 0;
	margin-top: -9px;
}

div.mce-inline-toolbar-grp.mce-arrow-left-side:after {
	left: -8px;
	border-right-color: #f5f5f5;
	border-width: 8px 8px 8px 0;
	margin-top: -8px;
}

div.wp-link-preview {
	float: left;
	margin: 5px;
	max-width: 694px;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.wp-link-preview a {
	color: #0073aa;
	text-decoration: underline;
	-webkit-transition-property: border, background, color;
	transition-property: border, background, color;
	-webkit-transition-duration: .05s;
	transition-duration: .05s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	cursor: pointer;
}

div.wp-link-input {
	float: left;
	margin: 2px;
	max-width: 694px;
}

div.wp-link-input input {
	width: 300px;
	padding: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	background-color: #fff;
	color: #333;
	border-color: #ddd;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.07);
}

div.wp-link-input input:focus {
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	border-color: #999;
}

@media screen and ( max-width: 782px ) {
	div.wp-link-preview {
		margin: 8px 0 8px 5px;
		max-width: 70%;
		max-width: -webkit-calc(100% - 86px);
		max-width: calc(100% - 86px);
	}
}

.fee-main-toolbar {
	transition-duration: 0.6s;
	transition-property: transform;
	transform: translateY(0);
}

.fee-main-toolbar.fee-hide {
	transform: translateY(48px);
}

@media screen and ( max-width: 320px ) {
	div.mce-inline-toolbar-grp.fee-media-toolbar {
		position: fixed !important;
		top: 0 !important;
		right: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		z-index: 100000;
		max-width: none;
		margin: 0;
		border: 0;
	}
}

.fee-image-select {
	width: 312px;
	height: 312px;
	overflow-y: scroll;
	background: #fff;
	border-top: 1px solid #a0a5aa;
	margin: 3px -3px -3px;
	padding: 2px;
	z-index: 1;
	position: relative;
}

.fee-image-select:before,
.fee-image-select:after {
	content: '';
	display: table;
}

.fee-image-select:after {
	clear: both;
}

.fee-image-select .fee-image {
	float: left;
	width: 100px;
	padding: 2px;
	height: 100px;
	position: relative;
}

.fee-image-select .fee-image:before {
	display: none;
}

.fee-image-select .fee-image img {
	display: block;
	width: 100%;
	height: auto;
	z-index: -1;
	position: relative;
}

.fee-image-select .fee-image.fee-selected img {
	opacity: 0.8;
}

.fee-image-select .fee-image.fee-selected:before {
	display: block;
	position: absolute;
	bottom: 5px;
	right: 5px;
	background: #0085ba;
	border-radius: 11px;
	border: 1px solid #fff;
	color: #fff;
	text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
	box-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}
