.fee-on .fee-content-original,
.fee-on .fee-link-pages,
.fee-off .fee-content-body,
.fee-on #wp-admin-bar-top-secondary,
.fee-off .wp-core-ui,
.fee-url,
.fee-alert,
.wp-hidden-children .wp-hidden-child {
	display: none;
}

#wpadminbar .ab-top-menu > li.active > .ab-item {
	background: #333;
	color: #2ea2cc;
}

.fee-on .fee-thumbnail {
	min-height: 70px;
}

.fee-on .fee-url {
	display: block;
}

.fee-toolbar {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100000;
	padding: 3px 10px;
	background: #222;
}

.fee-toolbar .button {
	height: 25px;
	line-height: 23px;
}

br.fee-title {
	display: none;
}

.fee-slug {
	display: inline-block;
	min-width: 1px;
}

.fee-slug:before,
.fee-slug:after {
	clear: none;
	display: inline;
}

.fee-slug br {
	display: none;
}

.mce-edit-focus {
	outline: none !important;
}

.mce-placeholder {
	opacity: 0.5;
}

.fee-alert {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba( 0, 0, 0, 0.5 );
	z-index: 1000000;
}

.fee-alert-body {
	width: 300px;
	position: fixed;
	top: 100px;
	left: 50%;
	margin-left: -150px;
	background: #fff;
	padding: 20px;
	z-index: 1000000;
}

.fee-categories {
	display: inline-block;
}

.wp-core-ui ul.categorychecklist li {
	margin-top: 6px;
}

.wp-core-ui ul.categorychecklist ul {
	margin-left: 18px;
}

.dashicons,
.dashicons-before:before {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: "dashicons";
    text-decoration: inherit;
    font-weight: normal;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.error .dashicons-dismiss,
.updated .dashicons-dismiss {
	position: absolute;
	top: 6px;
	right: 20px;
	cursor: pointer;
	color: #666;
}

/* Content */

.notification-dialog {
	position: fixed;
	top: 30%;
	left: 50%;
	width: 450px;
	margin-left: -225px;
	background: #fff;
	line-height: 1.5;
	z-index: 1000005;
}

.notification-dialog-background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	z-index: 1000000;
}

#post-lock-dialog .post-locked-message,
#post-lock-dialog .post-taken-over {
	margin: 25px;
}

#post-lock-dialog .post-locked-message a.button {
	margin-right: 10px;
}

#post-lock-dialog .post-locked-avatar {
	float: left;
	margin: 0 20px 20px 0;
}

#post-lock-dialog .wp-tab-first {
	outline: 0;
}

#post-lock-dialog .locked-saving img {
	float: left;
	margin-right: 3px;
}

#post-lock-dialog.saving .locked-saving,
#post-lock-dialog.saved .locked-saved {
	display: inline;
}

.mce-item-table,
.mce-item-table td,
.mce-item-table th,
.mce-item-table caption {
	border: 1px dashed #BBB;
}

.mce-content-body img.mce-wp-nextpage,
.mce-content-body img.mce-wp-more {
	width: 100%;
	height: 1px;
	cursor: default;
}

.mce-content-body img.mce-wp-more {
	border-top: 2px dashed #bbb;
}

.mce-content-body img.mce-wp-nextpage {
    border-top: 3px dotted #bbb;
}

.hidden {
	display: none;
}

.wp-core-ui div.updated,
.wp-core-ui div.error {
	padding: 0 20px 0 0.6em;
	margin: 5px 15px 2px;
}

.wp-core-ui .button,
.wp-core-ui .button.button-large,
.wp-core-ui .button.button-small {
	vertical-align: top;
}

#fee-notice-area {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 300px;
	z-index: 10000;
}

.fee-right #fee-notice-area {
	right: 0;
	left: auto;
}

@media only screen and (max-width: 300px) {
	#fee-notice-area {
		width: 100%;
		left: 0;
		padding: 0 10px;
		margin: 0;
	}
}

.wp-core-ui div.updated p,
.wp-core-ui div.error p {
	margin: 0.5em 0;
	padding: 2px;
	padding-right: 20px;
}

.wp-core-ui div.updated,
.wp-core-ui div.error {
	margin: 0 10px 10px;
	border: none;
	padding: 1px 12px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
}

.wp-core-ui div.updated {
	border-left: 4px solid #7ad03a;
	background-color: #def4d2;
}

.wp-core-ui div.error {
	border-left: 4px solid #dd3d36;
	background-color: #f6cecd;
}

*[contenteditable="true"]:focus,
.mce-content-body hr[data-mce-selected] {
	outline: none;
}

.fee-content p:empty {
	height: 1.5em;
}

.fee-content-holder {
	position: relative;
}

#fee-publish {
	float: right;
}

/* TinyMCE */

.mce-panel {
	background: #fff;
}

.mce-floatpanel {
	position: absolute;
}

.mce-floatpanel.mce-fixed {
	position: fixed;
}

.mce-menu-item {
	cursor: pointer;
	padding: 3px 6px;
	white-space: nowrap;
	color: #555;
}

.mce-menu-item:hover {
	color: #222;
}

.mce-menu-item:hover .mce-text {
	color: #222!important;
}

.mce-menu-item .mce-ico {
	display: none;
}

.mce-menu-item-sep {
	height: 1px;
	background-color: #999;
	margin: 10px;
	overflow: hidden;
	cursor: default;
}

.mce-text,
.mce-text-center {
	background: none!important;
	border: none!important;
	line-height: normal;
	color: #555!important; /* TinyMCE adapts the color of the theme's HTML elements, which isn't always readable on a dark background. */
}

.mce-text-center {
	text-align: center;
}

.mce-grid {
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
	margin: 0;
	border: 5px solid transparent;
}

.mce-grid tbody {
	padding: 0;
	margin: 0;
	border: none;
}

.mce-grid tr {
	padding: 0;
	margin: 0;
	border: none;
}

.mce-grid td {
	padding: 5px;
	margin: 0;
	border: none;
}

.mce-grid td div,
.mce-grid td a {
	display: block;
	border: 1px solid #999;
	width: 12px;
	height: 12px;
	cursor: pointer;
}

.mce-grid td div:hover,
.mce-grid td a:hover {
	border: 1px solid #2ea2cc;
}

.mce-grid-border a.mce-active {
	background: #2ea2cc;
	border: 1px solid #2ea2cc;
}

.mce-caret:before {
	content: '\f140';
}

.mce-i-kitchensink:before {
	content: '\f212';
}

.mce-i-media:before {
	content: '\f104';
}

.mce-i-bold:before {
	content: '\f200';
}

.mce-i-italic:before {
	content: '\f201';
}

.mce-i-underline:before {
	content: '\f213';
}

.mce-i-strikethrough:before {
	content: '\f224';
}

.mce-i-blockquote:before {
	content: '\f205';
}

.mce-i-alignleft:before {
	content: '\f206';
}

.mce-i-aligncenter:before {
	content: '\f207';
}

.mce-i-alignright:before {
	content: '\f208';
}

.mce-i-alignjustify:before {
	content: '\f214';
}

.mce-i-bullist:before {
	content: '\f203';
}

.mce-i-numlist:before {
	content: '\f204';
}

.mce-i-indent:before {
	content: '\f222';
}

.mce-i-outdent:before {
	content: '\f221';
}

.mce-i-undo:before {
	content: '\f171';
}

.mce-i-redo:before {
	content: '\f172';
}

.mce-i-link:before {
	content: '\f103';
}

.mce-i-unlink:before {
	content: '\f225';
}

.mce-i-forecolor:before {
	content: '\f215';
}

.mce-i-backcolor:before {
	content: '\f215';
	background: #555;
}

.mce-i-removeformat:before {
	content: '\f218';
}

.mce-i-table:before {
	content: '\f163';
}

.mce-i-pastetext:before {
	content: '\f217';
}

.mce-i-wp_more:before {
	content: '\f209';
}

.mce-i-hr:before {
	content: '\f460';
}

td.mce-item-selected,
th.mce-item-selected {
	background-color: #2ea2cc!important;
}


/* Aligns left by the .wp-core-ui reset. */

.media-frame .uploader-inline * {
	text-align: center;
}

/* Auth Check */

*[id^=wp-auth-check] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/* Reset */

.wp-core-ui td,
.wp-core-ui th {
	vertical-align: inherit;
	float: none;
}

.wp-core-ui label {
	cursor: pointer;
}

.wp-core-ui p {
	font-size: 14px;
}

.media-frame input[type="text"],
.media-frame input[type="password"],
.media-frame input[type="number"],
.media-frame input[type="search"],
.media-frame input[type="email"],
.media-frame input[type="url"],
.media-frame textarea,
.media-frame select {
	font-size: 14px;
}

div.mce-insert {
	background: transparent;
	position: absolute;
	z-index: 998;
	top: 0;
	left: 0;
	font-size: 16px;
	line-height: 20px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-left: 5px;
	opacity: 0.5;
	cursor: pointer;
	-webkit-transition: opacity 0.1s ease-in 0;
	-moz-transition: opacity 0.1s ease-in 0;
	transition: opacity 0.1s ease-in 0;
	outline: none;
}

div.mce-insert:hover {
	opacity: 1;
}

div.mce-insert .dashicons,
div.mce-insert-modal .dashicons {
	font-family: 'dashicons';
	font-size: 20px;
	line-height: 20px;
}

div.mce-insert .dashicons {
	margin-top: -1px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

div.mce-insert.open .dashicons {
	-webkit-transform: rotate( 45deg );
	-ms-transform: rotate( 45deg );
	transform: rotate( 45deg );
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

div.mce-insert-modal .dashicons {
	width: 30px;
	height: 30px;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	display: block;
	text-shadow: none;
	margin: 0 auto;
}

div.mce-insert-modal .mce-btn {
	margin: 5px;
	width: 120px;
	height: 60px;

	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	color: #555;
	border-color: #cccccc;
	background: #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08);
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08);
 	vertical-align: top;
}

div.mce-insert-modal .mce-btn:hover {
	border-color: #999;
	color: #222;
}

div.mce-insert-modal .mce-btn:active {
	background: #fff;
	border-color: #999;
	color: #333;
	-webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
	box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
}

div.mce-insert-modal .mce-btn button {
	white-space: normal;
	font-size: 12px;
	padding: 5px;
	width: 100%;
	text-align: center;
	background: none;
	border: none;
	box-shadow: none;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.mce-tinymce-inline,
div.mce-insert-modal {
	position: absolute;
	z-index: 998;
	background: #f5f5f5;
	padding: 3px;
	color: black;
	margin-bottom: 8px;
	box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.04 );
	border: 1px solid #dedede;
	border-radius: 3px;
	top: 0;
	left: 0;
	opacity: 0;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.mce-tinymce-inline .mce-toolbar-grp {
	background: #f5f5f5;
}

div.mce-tinymce-inline.mce-inline-toolbar-active {
	transition: top 0.1s ease-out, left 0.1s ease-out, opacity 0.1s ease-in-out;
	opacity: 1;
}

div.mce-tinymce-inline:before,
div.mce-tinymce-inline:after {
	position: absolute;
	left: 50%;
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	content: '';
}

div.mce-tinymce-inline.mce-inline-toolbar-arrow-up:before {
	top: -18px;
	border-bottom-color: #dedede;
	border-width: 9px;
	margin-left: -9px;
}

div.mce-tinymce-inline.mce-inline-toolbar-arrow-down:before {
	bottom: -18px;
	border-top-color: #dedede;
	border-width: 9px;
	margin-left: -9px;
}

div.mce-tinymce-inline.mce-inline-toolbar-arrow-up:after {
	top: -16px;
	border-bottom-color: #f5f5f5;
	border-width: 8px;
	margin-left: -8px;
}

div.mce-tinymce-inline.mce-inline-toolbar-arrow-down:after {
	bottom: -16px;
	border-top-color: #f5f5f5;
	border-width: 8px;
	margin-left: -8px;
}

div.mce-tinymce-inline .mce-toolbar .mce-btn-group .mce-btn.mce-disabled:not(:focus) {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
}

.mce-toolbar .mce-btn-group .mce-btn {
	border: 1px solid transparent;
	margin: 2px;
	background-image: none;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-filter: none;
	filter: none;
	display: inline-block;
}

.mce-toolbar .mce-btn-group .mce-btn button {
	background: none;
	box-shadow: none;
	outline: none;
	padding: 2px 3px;
	line-height: 20px;
	color: #777;
	font-weight: bold;
	text-align: center;
	overflow: visible;
	-webkit-appearance: none;
	font-size: 14px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	display: block;
}

.mce-toolbar .mce-btn-group .mce-btn:hover,
.mce-toolbar .mce-btn-group .mce-btn:focus {
	background: #fafafa;
	border-color: #999;
	color: #222;
	-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba( 0, 0, 0, 0.08 );
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba( 0, 0, 0, 0.08 );
}

.mce-toolbar .mce-btn-group .mce-btn.mce-active,
.mce-toolbar .mce-btn-group .mce-btn:active {
	background: #ebebeb;
	border-color: #999;
	-webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.3 );
	box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.3 );
}

.mce-toolbar .mce-btn-group .mce-btn.mce-active:hover {
	border-color: #555;
}

.mce-toolbar .mce-btn-group .mce-btn.mce-active:hover i.mce-ico {
	color: #555;
}

.mce-toolbar .mce-btn-group .mce-btn.mce-disabled:hover,
.mce-toolbar .mce-btn-group .mce-btn.mce-disabled:focus {
	color: #aaa;
	background: none;
	border-color: #ddd;
	text-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
}

i.mce-i-bold,
i.mce-i-italic,
i.mce-i-bullist,
i.mce-i-numlist,
i.mce-i-blockquote,
i.mce-i-alignleft,
i.mce-i-aligncenter,
i.mce-i-alignright,
i.mce-i-link,
i.mce-i-unlink,
i.mce-i-wp_more,
i.mce-i-strikethrough,
i.mce-i-spellchecker,
i.mce-i-fullscreen,
i.mce-i-wp_fullscreen,
i.mce-i-wp_adv,
i.mce-i-underline,
i.mce-i-alignjustify,
i.mce-i-forecolor,
i.mce-i-backcolor,
i.mce-i-pastetext,
i.mce-i-pasteword,
i.mce-i-removeformat,
i.mce-i-charmap,
i.mce-i-outdent,
i.mce-i-indent,
i.mce-i-undo,
i.mce-i-redo,
i.mce-i-help,
i.mce-i-wp_help,
i.mce-i-wp-media-library,
i.mce-i-ltr,
i.mce-i-wp_page,
i.mce-i-hr,
.mce-close {
	font: normal 20px/1 'dashicons';
	padding: 0;
	vertical-align: top;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 20px;
	display: block;
}

i.mce-i-bold:before {
	content: '\f200';
}

i.mce-i-italic:before {
	content: '\f201';
}

i.mce-i-bullist:before {
	content: '\f203';
}

i.mce-i-numlist:before {
	content: '\f204';
}

i.mce-i-blockquote:before {
	content: '\f205';
}

i.mce-i-alignleft:before {
	content: '\f206';
}

i.mce-i-aligncenter:before {
	content: '\f207';
}

i.mce-i-alignright:before {
	content: '\f208';
}

i.mce-i-link:before {
	content: '\f103';
}

i.mce-i-unlink:before {
	content: '\f225';
}

i.mce-i-wp_more:before {
	content: '\f209';
}

i.mce-i-strikethrough:before {
	content: '\f224';
}

i.mce-i-spellchecker:before {
	content: '\f210';
}

i.mce-i-fullscreen:before,
i.mce-i-wp_fullscreen:before,
.qt-fullscreen:before {
	content: '\f211';
}

i.mce-i-wp_adv:before {
	content: '\f212';
}

i.mce-i-underline:before {
	content: '\f213';
}

i.mce-i-alignjustify:before {
	content: '\f214';
}

i.mce-i-forecolor:before,
i.mce-i-backcolor:before {
	content: '\f215';
}

i.mce-i-pastetext:before {
	content: '\f217';
}

i.mce-i-removeformat:before {
	content: '\f218';
}

i.mce-i-charmap:before {
	content: '\f220';
}

i.mce-i-outdent:before {
	content: '\f221';
}

i.mce-i-indent:before {
	content: '\f222';
}

i.mce-i-undo:before {
	content: '\f171';
}

i.mce-i-redo:before {
	content: '\f172';
}

i.mce-i-help:before,
i.mce-i-wp_help:before {
	content: '\f223';
}

i.mce-i-wp-media-library:before {
	content: '\f104';
}

i.mce-i-ltr:before {
	content: '\f320';
}

i.mce-i-wp_page:before {
	content: '\f105';
}

i.mce-i-hr:before {
	content: '\f460';
}

i.mce-i-wp_code:before {
	content: '\f475';
}

/* Views */

.wpview-wrap {
	width: 100%;
	position: relative;
	clear: both;
}

/* delegate the handling of the selection to the wpview tinymce plugin */
.wpview-wrap,
.wpview-wrap * {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* hide the shortcode content, but allow the content to still be selected */
.wpview-wrap .wpview-clipboard,
.wpview-wrap > p {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	clip: rect(1px 1px 1px 1px); /* IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	outline: 0;
	padding: 0;
	border: 0;
	width: 1px;
	height: 1px;
}

/* An ugly box will appear when this is focussed in IE, so we'll move it outside the window. */
.wpview-wrap.wpview-selection-before > p,
.wpview-wrap.wpview-selection-after > p {
	left: -10000px;
}

.wpview-wrap .wpview-clipboard,
.wpview-wrap .wpview-clipboard *,
.wpview-wrap > p {
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.has-focus .wpview-wrap.wpview-selection-before:before,
.has-focus .wpview-wrap.wpview-selection-after:before {
	content: '';
	margin: 0;
	padding: 0;
	position: absolute;
	top: -2px;
	left: -3px;
	bottom: -2px;
	width: 1px;
	background-color: black;
	background-color: currentcolor;
	-webkit-transition: opacity 0.15s ease-out;
	-moz-transition: opacity 0.15s ease-out;
	transition: opacity 0.15s ease-out;
	opacity: 1;
}

.has-focus .wpview-wrap.wpview-selection-after:before {
	left: auto;
	right: -3px;
}

.has-focus .wpview-wrap.wpview-cursor-hide:before {
	opacity: 0;
}

/**
 * Media previews
 */
.wpview-wrap,
.fee-thumbnail,
.mce-content-body hr {
    position: relative;
}

.has-focus .wpview-wrap[data-mce-selected]:before,
.wpview-wrap:hover:before,
.fee-on .fee-thumbnail:hover:before,
.fee-on .fee-thumbnail.fee-thumbnail-active:before,
.mce-content-body hr[data-mce-selected]:before,
.mce-content-body hr:hover:before,
.mce-content-body img:hover:before {
	content: '';
	margin: 0;
	padding: 0;
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	border-radius: 3px;
	border: 3px solid #ffe767;
	width: auto;
}

.mce-content-body img:hover {
	outline: 3px solid #ffe767;
	outline-offset: 2px;
}

.has-focus .wpview-wrap[data-mce-selected]:before,
.mce-content-body hr[data-mce-selected]:before,
.fee-on .fee-thumbnail.fee-thumbnail-active:before {
	border-color: rgb(88, 144, 255);
}

.mce-content-body img[data-mce-selected] {
	outline: 3px solid rgb(88, 144, 255) !important;
	outline-offset: 2px;
}

.mce-content-body div.mce-resizehandle {
	border: none !important;
	background: rgb(88, 144, 255) !important;
	width: 7px !important;
	height: 7px !important;
}

.wpview-wrap.wpview-selection-before:before,
.wpview-wrap.wpview-selection-after:before {
	border: none;
}

.ie8 .wpview-wrap[data-mce-selected],
.ie7 .wpview-wrap[data-mce-selected] {
	background-color: #e5e5e5;
	border-color: #777;
}

.wpview-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.wpview-wrap[data-mce-selected] .wpview-overlay {
	display: none;
}

.wpview-wrap .toolbar,
.fee-thumbnail .fee-thumbnail-toolbar {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 100;
}

.has-focus .wpview-wrap[data-mce-selected] .toolbar,
.fee-thumbnail.fee-thumbnail-active .fee-thumbnail-toolbar {
	display: block;
}

.wpview-wrap .loading-placeholder {
	border: 1px dashed #ccc;
	padding: 10px;
}

.wpview-wrap[data-mce-selected] .loading-placeholder {
	border-color: transparent;
}

/* A little "loading" animation, not showing in IE < 10 */
.wpview-wrap .wpview-loading {
	width: 60px;
	height: 5px;
	overflow: hidden;
	background-color: transparent;
	margin: 10px auto 0;
}

.wpview-wrap .wpview-loading ins {
	background-color: #333;
	margin: 0 0 0 -60px;
	width: 60px;
	height: 5px;
	display: block;
	-webkit-animation: wpview-loading 1.3s infinite 1s linear;
	animation: wpview-loading 1.3s infinite 1s linear;
}

@-webkit-keyframes wpview-loading {
	0% {
		margin-left: -60px;
	}
	100% {
		margin-left: 60px;
	}
}

@keyframes wpview-loading {
	0% {
		margin-left: -60px;
	}
	100% {
		margin-left: 60px;
	}
}

#wp-image-toolbar {
	position: absolute;
	margin: 0;
}

.wpview-wrap .toolbar div,
.fee-thumbnail .fee-thumbnail-toolbar div,
#wp-image-toolbar i {
	margin-top: 7px;
	margin-left: 7px;
	padding: 2px;
	width: 30px;
	height: 30px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	background-color: #000;
	background-color: rgba(0,0,0,0.9);
	cursor: pointer;
	color: white;
	font-size: 30px;
}

.wpview-error {
	border: 1px solid #dedede;
	padding: 1em 0;
	margin: 0;
	word-wrap: break-word;
}

.wpview-wrap[data-mce-selected] .wpview-error {
	border-color: transparent;
}

.wpview-error .dashicons,
.loading-placeholder .dashicons {
	display: block;
	margin: 0 auto;
	width: 32px;
	height: 32px;
	font-size: 32px;
}

.wpview-error p {
	margin: 0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.wpview-wrap .toolbar div:hover,
#wp-image-toolbar i:hover {
	box-shadow: 0 1px 3px rgba(0,0,0,0.8);
	background-color: #000;
	color: #2ea2cc;
}

/* more and nextpage views */

.wpview-type-more p {
	text-align: center;
	position: relative;
	overflow: hidden;
	opacity: 0.5;
}

.wpview-wrap[data-mce-selected] .wpview-type-more p {
	opacity: 1;
}

.wpview-type-more span {
	position: relative;
}

.wpview-type-more span:before,
.wpview-type-more span:after {
	content: '';
	position: absolute;
	border-bottom: 2px dashed currentColor;
	top: 50%;
	width: 1000px;
}

.wpview-type-more span:before {
	right: 100%;
	margin-right: 5px;
}

.wpview-type-more span:after {
	left: 100%;
	margin-left: 5px;
}
