.dashicons,
.dashicons-before:before {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: "dashicons";
    text-decoration: inherit;
    font-weight: normal;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.error .dashicons-dismiss,
.updated .dashicons-dismiss {
	position: absolute;
	top: 16px;
	right: 10px;
	cursor: pointer;
	color: #666;
}

/* Content */

.notification-dialog {
	position: fixed;
	top: 30%;
	left: 50%;
	width: 450px;
	margin-left: -225px;
	background: #fff;
	line-height: 1.5;
	z-index: 1000005;
}

.notification-dialog-background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	z-index: 1000000;
}

#post-lock-dialog .post-locked-message,
#post-lock-dialog .post-taken-over {
	margin: 25px;
}

#post-lock-dialog .post-locked-message a.button {
	margin-right: 10px;
}

#post-lock-dialog .post-locked-avatar {
	float: left;
	margin: 0 20px 20px 0;
}

#post-lock-dialog .wp-tab-first {
	outline: 0;
}

#post-lock-dialog .locked-saving img {
	float: left;
	margin-right: 3px;
}

#post-lock-dialog.saving .locked-saving,
#post-lock-dialog.saved .locked-saved {
	display: inline;
}

.mce-item-table,
.mce-item-table td,
.mce-item-table th,
.mce-item-table caption {
	border: 1px dashed #BBB;
}

.mce-content-body img.mce-wp-nextpage,
.mce-content-body img.mce-wp-more {
	width: 100%;
	height: 1px;
	cursor: default;
}

.mce-content-body img.mce-wp-more {
	border-top: 2px dashed #bbb;
}

.mce-content-body img.mce-wp-nextpage {
    border-top: 3px dotted #bbb;
}

.hidden {
	display: none;
}

.wp-core-ui div.updated,
.wp-core-ui div.error {
	padding: 0 20px 0 0.6em;
	margin: 5px 15px 2px;
}

.wp-core-ui .button,
.wp-core-ui .button.button-large,
.wp-core-ui .button.button-small {
	vertical-align: top;
}

#wp-fee-notice-area {
	position: fixed;
	top: 47px;
	width: 700px;
	left: 50%;
	margin-left: -350px;
	z-index: 10000;
}

@media only screen and (max-width: 720px) {
	#wp-fee-notice-area {
		width: 100%;
		left: 0;
		padding: 0 10px;
		margin: 0;
	}
}

.wp-core-ui div.updated p,
.wp-core-ui div.error p {
	margin: 0.5em 0;
	padding: 2px;
	padding-right: 20px;
}

.wp-core-ui div.updated,
.wp-core-ui div.error {
	margin: 5px 0 15px;
	border: none;
	padding: 1px 12px;
	background-color: #fff;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
}

.wp-core-ui div.updated {
	border-left: 4px solid #7ad03a;
}

.wp-core-ui div.error {
	border-left: 4px solid #dd3d36;
}

*[contenteditable="true"]:focus,
.mce-content-body img[data-mce-selected],
.mce-content-body hr[data-mce-selected] {
	outline: none;
}

.wp-fee-content p:empty {
	height: 1.5em;
}

.wp-fee-content-holder {
	position: relative;
}

.wp-fee-content-placeholder {
	position: absolute;
	opacity: 0.5;
	display: none;
}

.wp-fee-title:empty:not(:focus):before {
	content: 'Title';
	opacity: 0.5;
}

.wp-fee-shortcode-container {
	position: relative;
	cursor: default;
}

.wp-fee-shortcode-options {
	background: rgba(0, 0, 0, 0.75);
	/*width: 100%;
	height: 100%;*/
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
	text-align: center;
	min-height: 52px;
}

.wp-fee-shortcode-container:hover {
	outline: 2px dashed #0074a2;
}

.wp-fee-container img:hover {
	outline: 2px dashed #0074a2;
}

.wp-fee-shortcode-remove,
.wp-fee-shortcode-edit,
#remove-post-thumbnail,
#wp-fee-set-post-thumbnail {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
	color: #fff;
	text-align: center;
}

.wp-fee-shortcode-edit,
#wp-fee-set-post-thumbnail {
	right: 44px;
}

.wp-fee-shortcode-remove:before,
.wp-fee-shortcode-edit:before,
#remove-post-thumbnail:before,
#wp-fee-set-post-thumbnail:before {
	position: relative;
	display: block;
	float: left;
	font: normal 24px 'dashicons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 24px;
	line-height: 24px;
	width: 24px;
	content: '\f158';
}

.wp-fee-shortcode-edit:before,
#wp-fee-set-post-thumbnail:before {
	font-size: 24px;
	content: '\f327';
}

.fee-edit-thumbnail.empty #wp-fee-set-post-thumbnail:before {
	content: '\f132';
}

.fee-edit-thumbnail.empty {
	min-height: 52px;
	outline: none;
}

.fee-edit-thumbnail.empty:hover {
	outline: none;
}

.fee-edit-thumbnail.empty .wp-fee-shortcode-options {
	display: block!important;
	background: none;
	opacity: 1!important;
	text-align: left;
}

.fee-edit-thumbnail.empty #wp-fee-set-post-thumbnail  {
	display: block!important;
	background-color: #444;
	border-radius: 13px;
	width: 25px;
	height: 25px;
	opacity: 0.5;
	text-align: center;
}

.fee-edit-thumbnail.empty #wp-fee-set-post-thumbnail:before  {
	width: 25px;
	height: 25px;
	line-height: 28px;
	font-size: 20px;
}

.fee-edit-thumbnail.empty #set-post-thumbnail {
	display: none;
}

.fee-edit-thumbnail.empty #wp-fee-set-post-thumbnail {
	left: 5px;
}

.fee-edit-thumbnail .wp-fee-set-post-thumbnail {
	display: none;
}

.fee-edit-thumbnail.empty .wp-fee-set-post-thumbnail {
	margin-left: 40px;
	margin-top: 11px;
	display: block;
	color: inherit;
	text-decoration: none;
	font-size: 16px;
	opacity: 0.5;
}

.fee-edit-thumbnail.empty #wp-fee-set-post-thumbnail,
.fee-edit-thumbnail.empty .wp-fee-set-post-thumbnail {
	transition: opacity 0.2s;
}

.fee-edit-thumbnail.empty:hover #wp-fee-set-post-thumbnail,
.fee-edit-thumbnail.empty:hover .wp-fee-set-post-thumbnail {
	opacity: 1;
}

.fee-edit-thumbnail p {
	margin: 0;
}

#remove-post-thumbnail {
	z-index: 10;
	overflow: hidden;
	display: none;
}

#wp-fee-insert-block {
	display: none;
	position: absolute;
	z-index: 100;
	opacity: 0.5;
	cursor: pointer;
	transition: opacity .1s ease-in 0;
	-moz-transition: opacity .1s ease-in 0;
	-webkit-transition: opacity .1s ease-in 0;
}

#wp-fee-insert-block:hover {
	opacity: 1;
}

#wp-fee-insert-block .dashicons-plus {
	background-color: #444;
	color: #fff;
	position: relative;
	line-height: 26px;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	margin-right: 10px;
}

#wp-fee-insert-list {
	display: none;
	position: absolute;
	z-index: 100;
	background: #222;
	padding: 5px 0;
	color: #eee;
	font-size: 18px;
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
	box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
	min-width: 180px;
	-webkit-font-smoothing: antialiased;
}
#wp-fee-insert-list:before {
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid #222;
	position: absolute;
	left: -8px;
	top: 42px;
	content: '';
}

#wp-fee-insert-list .dashicons {
	color: #ccc;
	margin-right: 10px;
	position: relative;
	top: 2px;
}

#wp-fee-insert-list > div {
	padding: 5px 15px;
	cursor: pointer;
	transition: color .1s ease-in 0;
	-moz-transition: color .1s ease-in 0;
	-webkit-transition: color .1s ease-in 0;
}

#wp-fee-insert-list > div:hover {
/*	background-color: #444;*/
	color: #2ea2cc;
}

#wp-fee-insert-list > div:hover .dashicons {
	color: #2ea2cc;
}

.ui-sortable > * {
	position: relative;
}

.wp-fee-block-handle {
	position: absolute;
	top: 0;
	left: -30px;
	transition: color .1s ease-in 0;
	-moz-transition: color .1s ease-in 0;
	-webkit-transition: color .1s ease-in 0;
	opacity: 0.5;
	cursor: move;
}

.wp-fee-block-handle:hover {
	opacity: 1;
}

.wp-fee-block-placeholder {
	border: 2px dashed #d4d0ba;
	background: rgba(247, 245, 231, 0.7);
	min-height: 50px;
}

/* Admin Bar */


@media screen and (min-width: 782px) {

	#wpadminbar .button {
		height: 22px;
		line-height: 22px;
		padding: 1px 10px;
		border-radius: 3px;
		margin: 2px;
	}

	#wpadminbar #wp-admin-bar-wp-fee-save:hover > .ab-item {
		background-color: transparent;
	}

}

#wpadminbar .ab-item > .ab-icon {
	margin-right: 0;
}

#wpadminbar > #wp-toolbar > #wp-admin-bar-root-default .ab-icon,
#wpadminbar .ab-icon,
#wpadminbar .ab-item:before {
	padding: 0;
}

#wpadminbar .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar .ab-top-menu > li:hover > .ab-item,
#wpadminbar .ab-top-menu > li.hover > .ab-item {
	background: none;
}

#wpadminbar .quicklinks a,
#wpadminbar .quicklinks .ab-empty-item,
#wpadminbar .shortlink-input {
	padding: 0;
}

#wpadminbar #wp-admin-bar-wp-fee-media > .ab-item > .ab-icon::before {
	content: '\f104';
}

#wpadminbar #wp-admin-bar-wp-fee-tags > .ab-item > .ab-icon::before {
	content: '\f323';
}

#wpadminbar #wp-admin-bar-wp-fee-cats > .ab-item > .ab-icon::before {
	content: '\f318';
}

#wpadminbar #wp-admin-bar-wp-fee-meta > .ab-item > .ab-icon::before {
	content: '\f111';
}

#wpadminbar #wp-admin-bar-wp-fee-close .ab-icon:before {
	content: '\f158';
}

#wpadminbar #wp-admin-bar-wp-fee-backend .ab-icon:before {
	content: "\f504";
}

@media screen and (max-width: 782px) {

	#wp-toolbar #wp-admin-bar-wp-fee-meta,
	#wp-toolbar #wp-admin-bar-wp-fee-save,
	#wp-toolbar #wp-admin-bar-wp-fee-publish,
	#wp-toolbar #wp-admin-bar-wp-fee-close {
		display: block;
	}

	body.wp-fee-status-draft #wp-toolbar #wp-admin-bar-wp-fee-save,
	body.wp-fee-status-auto-draft #wp-toolbar #wp-admin-bar-wp-fee-save,
	.tipsy-bar {
		display: none!important;
	}

	#wp-admin-bar-top-secondary {
		width: 100%;
	}

	#wpadminbar .quicklinks .ab-top-secondary>li#wp-admin-bar-wp-fee-close,
	#wpadminbar .quicklinks .ab-top-secondary>li#wp-admin-bar-wp-fee-meta {
		float: left;
	}

	#wpadminbar #wp-admin-bar-wp-fee-meta .ab-icon:before {
		font: 400 32px/1 dashicons;
		top: -2px;
	}

	#wpadminbar #wp-admin-bar-wp-fee-close .ab-icon:before {
		top: 3px;
	}

	#wpadminbar .wp-core-ui .wp-fee-submit {
		background: transparent!important;
		border: none;
		margin: 0;
		padding: 13px;
		font-size: 20px;
		line-height: 20px;
		height: 20px;
	}

	#wpadminbar .wp-core-ui .wp-fee-submit.button-disabled,
	#wpadminbar .wp-core-ui .wp-fee-submit.button-primary-disabled {
		color: #2ea2cc!important;
		background: #333!important;
	}

	#wpadminbar .wp-core-ui:hover .wp-fee-submit {
		color: #2ea2cc;
	}

}

/* TinyMCE */

.mce-panel * {
	opacity: 1;
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	position: static;
	text-shadow: none;
	text-transform: none;
	text-align: left;
	letter-spacing: normal;
	font-weight: normal;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	line-height: 32px;
	border: none;
	border-radius: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
	-webkit-transition: none;
	-moz-transition:    none;
	-o-transition:      none;
	transition:         none;
	-webkit-font-smoothing: subpixel-antialiased; /* Prevent Safari from switching to standard antialiasing on hover */
}

#wpadminbar .mce-tinymce {
	display: block!important; /* To prevent TinyMCE from hiding it again. */
}

#wpadminbar {
	background: #f5f5f5;
	border-bottom: 1px solid #ccc;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
	height: 37px;
}

#wp-toolbar {
	padding: 3px;
}

#wpadminbar #wp-admin-bar-wp-fee-mce-toolbar > .ab-item,
.mce-window {
	display: none;
}

#wpadminbar .mce-btn > button,
#wpadminbar ul.ab-top-menu > li > a {
	background: none;
	border: none;
	display: block;
	height: 20px;
	padding: 2px 3px;
	margin: 0;
	color: #333;
	line-height: 20px;
}

#wpadminbar .mce-toolbar .mce-btn {
	float: left;
	position: relative;
}

#wpadminbar .mce-toolbar .mce-btn-group .mce-btn,
#wpadminbar ul.ab-top-menu > li > a {
	border: 1px solid transparent;
	margin: 2px;
	background-image: none;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-filter: none;
	filter: none;
}

#wpadminbar .mce-toolbar .mce-btn-group .mce-btn.mce-first {
	color: #555;
	border-color: #cccccc;
	background: #f7f7f7;
	-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08);
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08);
}

#wpadminbar .mce-toolbar .mce-btn-group .mce-btn:hover,
#wpadminbar .mce-toolbar .mce-btn-group .mce-btn:focus,
#wpadminbar ul.ab-top-menu > li > a:hover,
#wpadminbar ul.ab-top-menu > li > a:focus {
	background: #fafafa;
	border-color: #999;
	color: #222;
	-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba( 0, 0, 0, 0.08 );
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba( 0, 0, 0, 0.08 );
}

#wpadminbar .mce-toolbar .mce-btn-group .mce-btn.mce-active,
#wpadminbar .mce-toolbar .mce-btn-group .mce-btn:active,
#wpadminbar ul.ab-top-menu > li > a:active {
	background: #ebebeb;
	border-color: #999;
	-webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.3 );
	box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.3 );
}

#wpadminbar .mce-toolbar .mce-btn-group .mce-btn.mce-active:hover {
	border-color: #555;
}

#wpadminbar .mce-toolbar .mce-btn-group .mce-btn.mce-active:hover i.mce-ico,
#wpadminbar ul.ab-top-menu > li > a:hover .ab-icon:before {
	color: #555;
}

#wpadminbar ul.ab-top-menu > li > a .ab-icon:before {
	color: #777;
}

#wpadminbar #wp-admin-bar-wp-fee-delete .ab-icon:before {
	color: #a00;
}

#wpadminbar #wp-admin-bar-wp-fee-delete:hover .ab-icon:before {
	color: #f00;
}

#wpadminbar .mce-toolbar .mce-btn-group .mce-btn.mce-disabled:hover,
#wpadminbar .mce-toolbar .mce-btn-group .mce-btn.mce-disabled:focus {
	color: #aaa;
	background: none;
	border-color: #ddd;
	text-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#wpadminbar .mce-toolbar .mce-btn-group .mce-btn.mce-disabled i.mce-ico {
	color: #adadad;
}

#wpadminbar .mce-toolbar .mce-btn-group .mce-btn.mce-listbox {
    -webkit-border-radius: 0;
    border-radius: 0;
    direction: ltr;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 1px -1px rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px 1px -1px rgba(0, 0, 0, .2);
}

#wpadminbar .mce-toolbar .mce-btn-group .mce-btn.mce-listbox:hover {
    background-image: none;
    border-color: #bbb;
}

#wpadminbar .mce-menubtn span {
	color: #333;
	line-height: 20px;
	padding-left: 3px;
}

#wpadminbar .mce-menubtn.mce-fixed-width span {
	display: inline-block;
	overflow-x: hidden;
	text-overflow: ellipsis;
	width: 80px;
	padding-right: 16px;
}

#wpadminbar .mce-btn.mce-listbox .mce-caret {
    position: absolute;
    right: 0;
    top: 2px;
}

#wpadminbar .mce-btn button.mce-open {
	position: absolute;
	top: 0;
	background: none!important; /* Overwrite .mce-active and :hover. */
}

#wpadminbar .mce-btn > button::-moz-focus-inner {
    padding: 0;
    border: 0;
    margin: 0;
}

#wpadminbar .mce-btn .mce-ico,
#wpadminbar .mce-btn .mce-caret {
	position: relative;
	float: left;
	font: normal 20px/1 'dashicons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #777;
}

#wpadminbar .mce-btn .mce-ico:before,
#wpadminbar .mce-btn .mce-caret:before {
	position: relative;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

.mce-floatpanel {
	background: #fff;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
	min-width: 160px;
	z-index: 100000!important;
	margin-top: 6px;
	border: 1px solid #ccc;
}

.mce-floatpanel {
	position: absolute;
}

.mce-floatpanel.mce-fixed {
	position: fixed;
}

.mce-menu-item {
	cursor: pointer;
	padding: 3px 6px;
	white-space: nowrap;
	color: #555;
}

.mce-menu-item:hover {
	color: #222;
}

.mce-menu-item:hover .mce-text {
	color: #222!important;
}

.mce-menu-item .mce-ico {
	display: none;
}

.mce-menu-item-sep {
	height: 1px;
	background-color: #999;
	margin: 10px;
	overflow: hidden;
	cursor: default;
}

.mce-text,
.mce-text-center {
	background: none!important;
	border: none!important;
	line-height: normal;
	color: #555!important; /* TinyMCE adapts the color of the theme's HTML elements, which isn't always readable on a dark background. */
}

.mce-text-center {
	text-align: center;
}

.mce-popover {
	margin-left: -20px;
}

#wpadminbar .mce-colorbutton .mce-preview {
	display: block;
	position: absolute;
	left: 10px;
	bottom: 6px;
	background: #999;
	width: 20px;
	height: 2px;
	overflow: hidden;
}

.mce-grid {
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
	margin: 0;
	border: 5px solid transparent;
}

.mce-grid tbody {
	padding: 0;
	margin: 0;
	border: none;
}

.mce-grid tr {
	padding: 0;
	margin: 0;
	border: none;
}

.mce-grid td {
	padding: 5px;
	margin: 0;
	border: none;
}

.mce-grid td div,
.mce-grid td a {
	display: block;
	border: 1px solid #999;
	width: 12px;
	height: 12px;
	cursor: pointer;
}

.mce-grid td div:hover,
.mce-grid td a:hover {
	border: 1px solid #2ea2cc;
}

.mce-grid-border a.mce-active {
	background: #2ea2cc;
	border: 1px solid #2ea2cc;
}

.mce-caret:before {
	content: '\f140';
}

.mce-i-kitchensink:before {
	content: '\f212';
}

.mce-i-media:before {
	content: '\f104';
}

.mce-i-bold:before {
	content: '\f200';
}

.mce-i-italic:before {
	content: '\f201';
}

.mce-i-underline:before {
	content: '\f213';
}

.mce-i-strikethrough:before {
	content: '\f224';
}

.mce-i-blockquote:before {
	content: '\f205';
}

.mce-i-alignleft:before {
	content: '\f206';
}

.mce-i-aligncenter:before {
	content: '\f207';
}

.mce-i-alignright:before {
	content: '\f208';
}

.mce-i-alignjustify:before {
	content: '\f214';
}

.mce-i-bullist:before {
	content: '\f203';
}

.mce-i-numlist:before {
	content: '\f204';
}

.mce-i-indent:before {
	content: '\f222';
}

.mce-i-outdent:before {
	content: '\f221';
}

.mce-i-undo:before {
	content: '\f171';
}

.mce-i-redo:before {
	content: '\f172';
}

.mce-i-link:before {
	content: '\f103';
}

.mce-i-unlink:before {
	content: '\f225';
}

.mce-i-forecolor:before {
	content: '\f215';
}

.mce-i-backcolor:before {
	content: '\f215';
	background: #555;
}

.mce-i-removeformat:before {
	content: '\f218';
}

.mce-i-table:before {
	content: '\f163';
}

.mce-i-pastetext:before {
	content: '\f217';
}

.mce-i-wp_more:before {
	content: '\f209';
}

.mce-i-hr:before {
	content: '\f460';
}

#wpadminbar .mce-toolbar:not(:first-child) {
	display: none;
}

td.mce-item-selected,
th.mce-item-selected {
	background-color: #2ea2cc!important;
}

.tipsy,
.mce-tooltip {
	font-family: "Open Sans", sans-serif;
	position: absolute;
	padding: 5px;
	opacity: 0.8;
	z-index: 100000;
}

.tipsy-bar,
.mce-tooltip {
	position: fixed;
	top: 34px!important;
}

.tipsy-inner,
.mce-tooltip-inner {
	font-size: 12px;
	background-color: #000;
	color: #fff;
	max-width: 200px;
	padding: 5px 8px 6px;
	text-align: center;
	white-space: normal;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 3px 5px rgba( 0, 0, 0, 0.2 );
	-webkit-box-shadow: 0 3px 5px rgba( 0, 0, 0, 0.2 );
}

.tipsy-arrow,
.mce-tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	border: 5px dashed #000;
}

.tipsy-arrow-n,
.mce-tooltip-arrow-n {
	border-bottom-color: #000;
}

.tipsy-arrow-s,
.mce-tooltip-arrow-s {
	border-top-color: #000;
}

.tipsy-arrow-e,
.mce-tooltip-arrow-e {
	border-left-color: #000;
}

.tipsy-arrow-w,
.mce-tooltip-arrow-w {
	border-right-color: #000;
}

.tipsy-arrow-sw,
.mce-tooltip-nw,.mce-tooltip-sw {
	margin-left: -14px;
}

.tipsy-n .tipsy-arrow,
.mce-tooltip-n .mce-tooltip-arrow {
	top: 0px;
	left: 50%;
	margin-left: -5px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-nw .tipsy-arrow,
.mce-tooltip-nw .mce-tooltip-arrow {
	top: 0;
	left: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-ne .tipsy-arrow,
.mce-tooltip-ne .mce-tooltip-arrow {
	top: 0;
	right: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-s .tipsy-arrow,
.mce-tooltip-s .mce-tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-sw .tipsy-arrow,
.mce-tooltip-sw .mce-tooltip-arrow {
	bottom: 0;
	left: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-se .tipsy-arrow,
.mce-tooltip-se .mce-tooltip-arrow {
	bottom: 0;
	right: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-e .tipsy-arrow,
.mce-tooltip-e .mce-tooltip-arrow {
	right: 0;
	top: 50%;
	margin-top: -5px;
	border-left-style: solid;
	border-right: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.tipsy-w .tipsy-arrow,
.mce-tooltip-w .mce-tooltip-arrow {
	left: 0;
	top: 50%;
	margin-top: -5px;
	border-right-style: solid;
	border-left: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

/* Media Manager */
/* Until the styles on the front-end are fixed. */

.media-modal-content {
	background: #fcfcfc;
	box-shadow: 0 5px 15px rgba(0,0,0,0.7);
}

.media-menu {
	background: #f3f3f3;
	border-right-color: #ccc;
}

.media-menu > a {
	color: #0074a2;
}

.media-menu .active,
.media-menu .active:hover {
	color: #222;
}

.media-frame-content {
	background: #fff;
	border-top-color: #ddd;
	border-bottom-color: #ddd;
}

.media-menu .separator {
	border-top-color: #ddd;
	border-bottom: none;
}

.media-sidebar {
	background: #f3f3f3;
	border-color: #ddd;
}

.media-router .active,
.media-router > a.active:last-child {
	background: #fff;
	border: 1px solid #ddd;
	border-bottom: none;
}

.details.attachment {
	box-shadow: 0 0 0 1px #fff, 0 0 0 5px #1e8cbe;
}

.attachment .check {
	background: #eee;
	box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba( 0, 0, 0, 0.4 );
}

.attachment.details .check {
	background-color: #1e8cbe;
	box-shadow: 0 0 0 1px #fff, 0 0 0 2px #1e8cbe;
}

/* --- */

#wp-fee-meta-modal .media-frame-sub-title h1 {
	padding: 0 16px;
	font-size: 22px;
	line-height: 56px;
	margin: 0;
}

#wp-fee-meta-modal .media-frame-sub-title {
	border-bottom: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
	background: #fcfcfc;
	cursor: pointer;
}

#wp-fee-meta-modal .media-frame-title {
	background: #fcfcfc;
	cursor: pointer;
}

#wp-fee-meta-modal .media-frame-sub-title-first {
	border-top: none;
}

@media only screen and (max-width: 900px) {
	.media-menu > a {
		padding: 4px 10px;
	}
}

@media only screen and (max-width: 640px) {
	#wp-fee-meta-modal .media-frame-menu {
		display: none;
	}
}

@media screen and (max-height: 400px) {
	#wp-fee-meta-modal .media-frame-menu {
		display: none;
	}
}

.media-frame-toolbar {
	border-top: none;
}

/* Aligns left by the .wp-core-ui reset. */

.media-frame .uploader-inline * {
	text-align: center;
}

/* Auth Check */

*[id^=wp-auth-check] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/* Reset */

.wp-core-ui td,
.wp-core-ui th {
	vertical-align: inherit;
	float: none;
}

.wp-core-ui label {
	cursor: pointer;
}

.wp-core-ui p {
	font-size: 14px;
}

.media-frame input[type="text"],
.media-frame input[type="password"],
.media-frame input[type="number"],
.media-frame input[type="search"],
.media-frame input[type="email"],
.media-frame input[type="url"],
.media-frame textarea,
.media-frame select {
	font-size: 14px;
}

.wp-core-ui .hide-if-js {
	display: none;
}

.wp-core-ui #excerpt,
.wp-core-ui .attachmentlinks {
	margin: 0;
	height: 4em;
	width: 98%;
}

.wp-core-ui #trackback_url {
	width: 99%;
}

.wp-core-ui #postcustomstuff table,
.wp-core-ui #postcustomstuff input,
.wp-core-ui #postcustomstuff textarea
.wp-core-ui .the-tagcloud {
	border-width: 1px;
	border-style: solid;
}

/* Post Formats */

.post-state-format {
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	width: 20px;
	margin-right: 5px;
	margin-top: -4px;
}

.post-state-format:before {
	display: block;
	height: 20px;
	width: 20px;
	font: normal 20px/1 'dashicons' !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#post-formats-select {
	line-height: 2em;
}

#post-formats-select .post-format-icon:before {
	top: 5px;
}

input.post-format {
	margin-top: 1px;
}

label.post-format-icon {
	margin-left: 0px;
	padding: 2px 0 2px 0px;
}

.post-format-icon:before {
	position: relative;
	display: inline-block;
	margin-right: 7px;
	font: normal 20px/1 'dashicons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.post-state-format.post-format-standard:before,
.post-format-icon.post-format-standard:before,
a.post-state-format.format-standard:before {
	content: '\f109';
}

.post-state-format.post-format-image:before,
.post-format-icon.post-format-image:before,
a.post-state-format.format-image:before {
	content: '\f128';
}

.post-state-format.post-format-gallery:before,
.post-format-icon.post-format-gallery:before,
a.post-state-format.format-gallery:before {
	content: '\f161';
}

.post-state-format.post-format-audio:before,
.post-format-icon.post-format-audio:before,
a.post-state-format.format-audio:before {
	content: '\f127';
}

.post-state-format.post-format-video:before,
.post-format-icon.post-format-video:before,
a.post-state-format.format-video:before {
	content: '\f126';
}

.post-state-format.post-format-chat:before,
.post-format-icon.post-format-chat:before,
a.post-state-format.format-chat:before {
	content: '\f125';
}

.post-state-format.post-format-status:before,
.post-format-icon.post-format-status:before,
a.post-state-format.format-status:before {
	content: '\f130';
}

.post-state-format.post-format-aside:before,
.post-format-icon.post-format-aside:before,
a.post-state-format.format-aside:before {
	content: '\f123';
}

.post-state-format.post-format-quote:before,
.post-format-icon.post-format-quote:before,
a.post-state-format.format-quote:before {
	content: '\f122';
}

.post-state-format.post-format-link:before,
.post-format-icon.post-format-link:before,
a.post-state-format.format-link:before {
	content: '\f103';
}

/* --- colors */

.post-state-format:before,
.post-format-icon:before {
	color: #ddd;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition:    all .1s ease-in-out;
	transition:         all .1s ease-in-out;
}

input[type="radio"]:checked+label:before {
	color: #888888;
}

a.post-state-format:hover:before,
a.post-format-icon:hover:before {
	color: #2ea2cc;
}

/* Custom Fields */

#postcustomstuff thead th {
	padding: 5px 8px 8px;
}

#postcustom #postcustomstuff .submit {
	border: 0 none;
	float: none;
	padding: 0 8px 8px;
}

#side-sortables #postcustom #postcustomstuff .submit {
	margin: 0;
	padding: 0;
}

#side-sortables #postcustom #postcustomstuff #the-list textarea {
	height: 85px;
}

#side-sortables #postcustom #postcustomstuff td.left input,
#side-sortables #postcustom #postcustomstuff td.left select,
#side-sortables #postcustomstuff #newmetaleft a {
	margin: 3px 3px 0;
}

#postcustomstuff table {
	margin: 0;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-spacing: 0;
}

#postcustomstuff tr {
	vertical-align: top;
}

#postcustomstuff table input,
#postcustomstuff table select,
#postcustomstuff table textarea {
	width: 96%;
	margin: 8px;
}

#side-sortables #postcustomstuff table input,
#side-sortables #postcustomstuff table select,
#side-sortables #postcustomstuff table textarea {
	margin: 3px;
}

#postcustomstuff th.left,
#postcustomstuff td.left {
	width: 38%;
}

#postcustomstuff .submit input {
	margin: 0;
	width: auto;
}

#postcustomstuff #newmetaleft a {
	display: inline-block;
	margin: 0 8px 8px;
	text-decoration: none;
}

.no-js #postcustomstuff #enternew {
	display: none;
}

#post-body-content .compat-attachment-fields {
	margin-bottom: 20px;
}

.compat-attachment-fields th {
	padding-top: 5px;
	padding-right: 10px;
}

/* --- colors */

#postcustomstuff table {
	border-color: #ccc;
}

#postcustomstuff table {
	border-color: #dfdfdf;
	background-color: #f9f9f9;
}

#postcustomstuff thead th {
	background-color: #f1f1f1;
}

/* Tags */

.wp-core-ui .taghint {
	color: #aaa;
	margin: 15px 0 -24px 12px;
}

.wp-core-ui .tagsdiv .howto {
	margin: 0 0 6px 0;
}

.wp-core-ui .ajaxtag .newtag {
	position: relative;
}

.wp-core-ui .tagsdiv .newtag {
	width: 180px;
}

.wp-core-ui .tagsdiv .the-tags {
	display: block;
	height: 60px;
	margin: 0 auto;
	overflow: auto;
	width: 260px;
}

.wp-core-ui .tagsdiv .the-tags {
	margin: 0 5px;
}

.wp-core-ui p.popular-tags {
	border: none;
	line-height: 2em;
	max-width: 1000px;
	padding: 8px 12px 12px;
	text-align: justify;
}

.wp-core-ui p.popular-tags a {
	padding: 0 3px;
}

.wp-core-ui .tagcloud {
	width: 97%;
	margin: 0 0 40px;
	text-align: justify;
}

.wp-core-ui .tagcloud h3 {
	margin: 2px 0 12px;
}

.wp-core-ui .tagchecklist span a:before {
	content: '\f153';
	display: block !important;
	font: normal 16px/1 'dashicons';
	speak: none;
	height: 20px;
	margin: 2px 0;
	text-align: center;
	width: 20px;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
}

.wp-core-ui .tagchecklist {
	margin-left: 14px;
	font-size: 12px;
	overflow: auto;
}
.wp-core-ui .tagchecklist br {
	display: none;
}
.wp-core-ui .tagchecklist strong {
	margin-left: -8px;
	position: absolute;
}
.wp-core-ui .tagchecklist span {
	margin-right: 25px;
	display: block;
	float: left;
	font-size: 14px;
	line-height: 1.8em;
	white-space: nowrap;
	cursor: default;
}

.wp-core-ui .tagchecklist span a {
	margin: 1px 0 0 -17px;
	cursor: pointer;
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	text-indent: 0;
	overflow: hidden;
	position: absolute;
}

.wp-core-ui .tagsdiv .newtag {
	float: left;
	height: 28px;
	margin: 0 4px 0 0;
}

.wp-core-ui #taglist a,
.wp-core-ui #catlist a {
	text-decoration: none;
}

.wp-core-ui .taghint {
	color: #aaa;
	margin: -17px 0 0 7px;
	visibility: hidden;
}

.wp-core-ui input.newtag ~ div.taghint {
	visibility: visible;
}

.wp-core-ui input.newtag:focus ~ div.taghint {
	visibility: hidden;
}

/* Cats */

.wp-core-ui ul.categorychecklist,
.wp-core-ui ul.category-tabs,
.wp-core-ui ul.post-revisions {
	margin-left: 0;
}

.wp-core-ui ul.category-tabs li a {
	text-decoration: none;
}

.wp-core-ui ul.category-tabs li.tabs a {
	font-weight: bold;
	color: #222;
}

.wp-core-ui ul.categorychecklist ul {
	margin-left: 18px;
}

.wp-core-ui ul.categorychecklist li {
	margin: 0;
	padding: 0;
	line-height: 22px;
	word-wrap: break-word;
}

.wp-core-ui .post-revisions li img {
	vertical-align: middle;
}
