.tipsy *,
.mce-tooltip * {
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	position: static;
	text-shadow: none;
	text-transform: none;
	text-align: left;
	letter-spacing: normal;
	font-weight: normal;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 1.4em;
	color: #444;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-font-smoothing: subpixel-antialiased; /* Prevent Safari from switching to standard antialiasing on hover */
}

.tipsy,
.mce-tooltip {
	font-family: "Open Sans", sans-serif;
	position: absolute;
	padding: 5px;
	opacity: 0.8;
	z-index: 10000;
}

.tipsy-bar {
	position: fixed;
	top: 33px!important;
}

.tipsy-inner,
.mce-tooltip-inner {
	font-size: 12px;
	background-color: #000;
	color: #fff;
	max-width: 200px;
	padding: 5px 8px 6px;
	text-align: center;
	white-space: normal;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 3px 5px rgba( 0, 0, 0, 0.2 );
	-webkit-box-shadow: 0 3px 5px rgba( 0, 0, 0, 0.2 );
}

.tipsy-arrow,
.mce-tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	border: 5px dashed #000;
}

.tipsy-arrow-n,
.mce-tooltip-arrow-n {
	border-bottom-color: #000;
}

.tipsy-arrow-s,
.mce-tooltip-arrow-s {
	border-top-color: #000;
}

.tipsy-arrow-e,
.mce-tooltip-arrow-e {
	border-left-color: #000;
}

.tipsy-arrow-w,
.mce-tooltip-arrow-w {
	border-right-color: #000;
}

.tipsy-arrow-sw,
.mce-tooltip-nw,.mce-tooltip-sw {
	margin-left: -14px;
}

.tipsy-n .tipsy-arrow,
.mce-tooltip-n .mce-tooltip-arrow {
	top: 0px;
	left: 50%;
	margin-left: -5px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-nw .tipsy-arrow,
.mce-tooltip-nw .mce-tooltip-arrow {
	top: 0;
	left: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-ne .tipsy-arrow,
.mce-tooltip-ne .mce-tooltip-arrow {
	top: 0;
	right: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-s .tipsy-arrow,
.mce-tooltip-s .mce-tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-sw .tipsy-arrow,
.mce-tooltip-sw .mce-tooltip-arrow {
	bottom: 0;
	left: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-se .tipsy-arrow,
.mce-tooltip-se .mce-tooltip-arrow {
	bottom: 0;
	right: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-e .tipsy-arrow,
.mce-tooltip-e .mce-tooltip-arrow {
	right: 0;
	top: 50%;
	margin-top: -5px;
	border-left-style: solid;
	border-right: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.tipsy-w .tipsy-arrow,
.mce-tooltip-w .mce-tooltip-arrow {
	left: 0;
	top: 50%;
	margin-top: -5px;
	border-right-style: solid;
	border-left: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.wp-fee-locked #wpadminbar #wp-admin-bar-edit > .ab-item:before {
	content: '\f160';
}
